html {
	background: url("../img/bg.png") repeat scroll 0 0 #F7F5F5;
}

body {
	background: none repeat scroll 0 0 transparent;
	font-family: 微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

body.front {
	padding-top: 58px;
}

a {
	cursor: pointer
}

a:hover {
	text-decoration: none;
}

a.img img:hover,a.img img:active {
	opacity: 0.9
}

.main-wrapper {
	padding: 0px 18px;
}

#water-fall {
	margin: 0 auto;
}

#water-fall .wft {
	-moz-transition: left 0.5s ease-in-out 0s, top 0.5s ease-in-out 0s;
}

#map-view {
	margin: 0 auto;
	padding: 15px;
	opacity: 1;
}

.pin {
	border: none;
	width: 192px;
	margin-bottom: 15px;
	float: left;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	padding: 15px 15px 0;
	border-radius: 0;
	opacity: 1;
}

.pin .caption {
	padding: 9px 0px;
}

.pin a.long {
	display: block;
	height: 800px;
	overflow: hidden;
	position: relative;
}

.pin a.long .stop {
	background: url("../img/long_image_shadow.png") no-repeat scroll left
		top transparent;
	bottom: -1px;
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 192px;
}

.subnav {
	margin: 0 auto;
	margin-bottom: 18px;
	padding: 10px;
	opacity: 1;
}

.subnav .glk .edit {
	margin: 6px;
}

.subnav .glk .edit a {
	padding: 3px;
}

.subnav .glk button,.subnav .glk a {
	font-size: 14px;
	padding: 6px 10px;
}

.subnav .view-t button {
	padding: 8px 10px;
}

.pin .convo {
	color: #AD9C9C;
	margin: 0 -15px;
	background-color: #efefef;
	padding: 10px 15px;
}

.board {
	border: none;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	behavior: url(PIE.htc);
}

.sign-in {
	margin-bottom: 0px;
}

.sign-in input,.sign-in textarea,.sign-in select {
	line-height: 24px;
	font-size: 16px;
}

.sign-in input[type="text"],.sign-in input[type="password"] {
	height: 24px;
}

.sign-in .input-append {
	margin-bottom: 2px;
}

.sign-in .input-append .add-on {
	height: 24px;
	line-height: 20px;
}

.sign-in .input-append .add-on a {
	display: block;
	padding-top: 5px;
}

.sign-in .input-append input {
	width: 67.3%;
}

.sign-in .hint {
	width: 215px;
	margin-left: 5px;
}

.sign-in .alert {
	display: block;
	margin-bottom: 0px;
	padding-right: 14px;
}

.upload .well {
	padding: 3px;
	margin-bottom: 15px;
}

.upload input {
	width: 100%;
	margin-bottom: 15px;
}

.upload-btn {
	background-color: #FFFFFF;
	border-radius: 15px;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	opacity: 0.6;
	width: 70px;
	height: 70px;
	color: #000;
	cursor: pointer;
	top: 100px;
	left: 97px;
}

.upload-btn:hover {
	color: #000;
	opacity: 0.8;
	text-decoration: none;
}

.upload-img.thumbnail {
	
}

#image-file-inputUploader {
	background-image: url('../img/browse.png');
	background-repeat: no-repeat;
	background-position: left top;
	width: 60px;
	height: 28px;
}

.comp-container {
	background: none repeat scroll 0 0 white;
	border-color: #999999;
	border-style: solid;
	border-width: 0 1px 1px;
	box-shadow: 2px 3px 4px #999999;
	font-family: simsun;
	margin: 0;
	padding: 6px 10px;
	position: absolute;
	width: 273px;
	z-index: 200;
	font-size: 12px;
}

.comp-container h4 {
	background-color: #67A1E2;
	border-radius: 4px 4px 0 0;
	border-color: #2C7ECF;
	border-style: solid;
	border-width: 1px 1px 0;
	color: #FFFFFF;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin: -6px -11px 0;
	padding-left: 10px;
}

.comp-container h5 {
	clear: both;
	color: #999999;
	font-size: 12px;
	font-weight: normal;
	line-height: 22px;
}

.comp-container a {
	border: 1px solid #FFFFFF;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 0 2px;
	width: 36px;
}

.comp-container a.widthfix {
	width: 54px;
}

.city-picker a:hover {
	background-color: #E8F4FF;
	border-color: #ACCCEF;
	color: #2C7ECF;
}

.city-picker a.active {
	background-color: #E8F4FF;
	border-color: #ACCCEF;
	color: #2C7ECF;
}

.comp-container h5.dotline {
	border-top: 1px dotted #999999;
	clear: both;
	margin-top: 4px;
	padding-top: 4px;
}

#infscr-loading {
	background-color: #000000;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto 0;
	opacity: 0.7;
	padding: 15px 20px;
	text-align: center;
	width: 300px;
}

#infscr-loading img {
	margin: 0 auto;
}

.content-wrapper {
	
}

.navbar .content-wrapper {
	font-family: Microsoft Yahei
}

.navbar-inner {
	background: url("../img/bg-black.png") repeat scroll 0 0 transparent;
}

#marker-tip {
	z-index: 100;
	width: 300px;
	position: absolute;
	display: none;
	color: #eee;
}

#marker-tip .content {
	background: url('../img/bg-black.png') repeat scroll 0 0 transparent;
	padding: 8px;
	border-radius: 5px;
}

#marker-tip #mt_img {
	display: block;
}

#marker-tip .pointer {
	text-align: center;
	height: 5px;
	background: url('../img/tooltip-pointer.png') no-repeat scroll center
		top transparent;
}

.map-marker {
	position: absolute;
	border-width: 0;
	border-style: none;
	width: 46px;
	height: 55px;
	background-image: url(../img/map-shadow.png);
}

.map-marker-a {
	margin-left: 3px;
	margin-top: 3px;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
}

.map-marker img {
	width: 40px;
}

#profile-nav-tabs>.active>a,#profile-nav-tabs>.active>a:hover {
	background-color: #efefef;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover {
	background-color:  rgb(70, 146, 230);;
	font-family:  Helvetica;
	font-size: 13px;
	background-image: -moz-linear-gradient(center bottom, #08AFEB, #0066CC);
}

.btn-follow {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-follow:hover {
	background-color: #51A351;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-track {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-track:hover {
	background-color: #51A351;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-query {
	border-radius: 8px;
}

.search-box .search-query.search-input {
	padding: 4px 19px 4px 9px;
	border: 1px solid #888;
	color: #888;
}

.search-box .search-query.search-input.focus,.search-box .search-query.search-input.focused
	{
	color: #333;
}

#nav-apps a {
	background: url("../img/icon_app.png") repeat scroll left top
		transparent;
	bottom: -12px;
	display: block;
	height: 32px;
	position: absolute;
	text-indent: -999999px;
	width: 70px;
	margin-left: 40px;
}

#nav-apps a:hover {
	background-position: left -45px;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: 0 none;
	resize: none;
}

.write {
	border-top: 1px solid #D9D4D4;
	box-shadow: 0 1px #FCFAFA inset;
}

.write textarea {
	-moz-transition: width 0.25s ease-in-out 0s;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #DDDDDD;
	font-size: 12px;
	height: 23px;
	line-height: 1.1em;
	overflow: hidden;
	padding: 4px 40px 3px 3px;
	position: absolute;
	right: 0;
	top: -1px;
	width: 147px;
}

.write textarea:focus {
	box-shadow: none;
	background: none repeat scroll 0 0 #FFFFFF;
	width: 111px;
}

.write .grid_comment_button {
	background: url("../img/comment_button.png") no-repeat scroll right 4px
		transparent;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;
}

.write .grid_comment_loading {
	background: url("../img/pin-loading.png") no-repeat scroll right 4px
		transparent;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;
}

.write .grid_comment_button:hover,.write .grid_comment_button:active,.write:hover .grid_comment_button
	{
	background-position: right -26px;
}

.cmts {
	border-top: 1px solid #D9D4D4;
	margin: 0 -15px;
	padding: 0 15px;
}

.cmts .cmt {
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid white;
	overflow: hidden;
	position: relative;
	padding: 8px 15px;
}

.info .stats {
	border-top: 1px solid #D9D4D4;
	margin: 15px -15px -15px;
	padding: 10px 15px;
}

#dash-nav>.active>a,#dash-nav>.active>a:hover {
	background-color: #0088CC;
	color: #FFFFFF;
}

.act-list {
	border-color: #E1E4E5;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin: 0 0 17px;
	padding: 0 0 15px;
	color: #666;
}

.act-list .face {
	display: inline;
	float: left;
	padding: 3px 0 6px;
	width: 60px;
}

.act-list .content {
	word-wrap: break-word;
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 0 70px;
}

.act-list .target {
	border-color: #E1E4E5;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 7px;
	padding: 15px 20px 13px;
	background: none repeat scroll 0 0 #FBFBFB;
}

.act-list .arrow {
	height: 11px;
	margin: -25px 0 0;
	overflow: hidden;
	width: 25px;
	margin-left: 0px;
}

.act-list .arrow * {
	display: block;
	font-family: "SimSun";
	font-size: 21px;
	height: 10px;
	overflow: hidden;
}

.act-list .arrow span {
	margin: -9px 0 0;
}

.act-list .target dt {
	margin: 10px 0;
}

.bgcolor_arrow em {
	font-style: normal;
	font-weight: normal;
	color: #E1E4E5;
}

.bgcolor_arrow span {
	color: #FBFBFB;
}

.act-list .repeat {
	background: none repeat scroll 0 0 #FBFBFB;
	border-color: #E1E4E5;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	line-height: 20px;
	margin: 10px 0 7px;
	padding: 15px 20px 8px;
	position: relative;
}

.act-list .cmts-box .arrow {
	position: absolute;
	right: 8px;
}

.act-list .fwds-box .arrow {
	position: absolute;
	right: 58px;
}

.act-list .reps-box .arrow {
	position: absolute;
	right: 3px;
}

.repeat .write {
	border-top: none;
}

.repeat .dsb textarea {
	width: 100%;
}

.repeat .cmts {
	border-top: none;
}

.repeat .cmts .cmt {
	padding: 8px 0px;
}

.repeat .cmts .cmt.last {
	border-bottom: none;
}

/*** for 3rd party btn style***/
.btn-3rd {
	background: url("../img/btn-3rd-signup.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 51px;
	width: 210px;
	outline: 0 none;
	text-decoration: none;
}

.btn-3rd>span {
	color: #FFFFFF;
	float: left;
	font-size: 15px;
	font-weight: 500;
	margin-left: 40px;
	margin-top: 7px;
	min-height: 20px;
	padding: 8px 12px;
}

a.weibo {
	background-position: left top;
}

a.weibo:hover {
	background-position: left -51px;
}

a.weibo:active {
	background-position: left -102px;
}

a.douban {
	background-position: -210px top;
}

a.douban:hover {
	background-position: -210px -51px;
}

a.douban:active {
	background-position: -210px -102px;
}

a.renren {
	background-position: -420px top;
}

a.renren:hover {
	background-position: -420px -51px;
}

a.renren:active {
	background-position: -420px -102px;
}

a.qq {
	background-position: -630px top;
}

a.qq:hover {
	background-position: -630px -51px;
}

a.qq:active {
	background-position: -630px -102px;
}

/*** for popover***********/
.popover-title {
	display: none;
}

.popover-content {
	border-radius: 3px;
	padding: 0px;
	height: 100%;
}

/*** about side nav*************/
ul#side-nav {
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 300px;
	left: 0px;
	list-style: none;
	z-index: 9999;
}

ul#side-nav li {
	width: 100px;
	margin-bottom: 3px;
}

ul#side-nav li a {
	display: block;
	padding-left: 15px;
	width: 95px;
	height: 50px;
	line-height: 50px;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*** for back top link *********/
#back-top{
	position:fixed; 
	right:5px; 
	bottom:10px; 
	_position:absolute; 
	_top:expression(eval(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-30)+'px')
}
.version {
  font-family:"Helvetica Neue";
}

#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}
#rocket-to-top .level-2 {
    background: url("../img/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}
#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}
#rocket-to-top {
    background: url("../img/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}
/*** for activity page *********/
.outer {
    width: 100%;
}
.inner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 10px;
    position: relative;
}
#header_wrap {
   background: none repeat scroll 0px 0px #2B2B2B; width: 100%;
}
#header_wrap .inner {
    padding: 10px 0 50px;
}
#project_title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    padding-left: 100px;
    text-shadow: 0 0 10px #111111;
}
#project_tagline {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    padding-left: 100px;
    text-shadow: 0 0 10px #111111;
    margin: 10px, 0;
}

textarea#comment {
	margin-top: 30px;
	margin-left: 200px;
	width: 65%;
	height: 140px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #DDDFEF;
    border-color: -moz-use-text-color -moz-use-text-color #C8C7B4;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #4B423A;
    padding: 6px 2%;
}

#cmt_submit {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #68584C;
    border-color: -moz-use-text-color -moz-use-text-color #55473B;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    padding: 7px 20px;
    float: right;
    margin-top: 8px;
    margin-right: 150px;
}

.cmt_tool {
	border-color: -moz-use-text-color -moz-use-text-color #55473B;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    margin-left: 8px
}

#page {
	margin-top: 40px;
}
