 <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                      http://www.springframework.org/schema/security
                      http://www.springframework.org/schema/security/spring-security-3.0.xsd">

  <security:http auto-config="true" >

    <!-- 未指定的url一致用http通道 -->
    <security:intercept-url pattern="/*" requires-channel="http"/>

    <!-- 指定url使用https通道 -->
    <security:intercept-url pattern="/signin*" requires-channel="https"/>
    <security:intercept-url pattern="/signup*" requires-channel="https"/>
    <security:intercept-url pattern="/password*" requires-channel="https"/>

  </security:http>

  <security:authentication-manager></security:authentication-manager>

</beans>
